<% include ../partials/header %>

<!-- content area -->
		
			<div id="list" class="col-lg-12">
			<h1 class="page-header">
                            <small>Jobs</small>
                        </h1>
				
                                    <% if(jobs.length === 0) { %>
                                    <h5>No Jobs Found<h5>
                                    <% } else { %>
                                    <table id="jobs" style="font-weight: 400; font-size: 14px" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>JobID</th>
                                            <th>AcctID</th>
                                            <th>Campaign</th>
                                            <th>Violations</th>
                                            <th>Screenshot</th>
                                            <th>Completed At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% jobs.forEach(function(job) { %>
                                    <% if(job.violations && job.violations.indexOf('Error Type') === -1) { %>
        				<tr>
                                            <td><%= job.job_id %></td>
                                            <td><%= job.account_id %></td>
                                            <td><%= job.campaign_name %></td>
                                            <td><%= job.violations %></td>
                                            <td><% if(job.screenshot) { %><a target="_blank" class="btn btn-sm btn-primary" href="<%= job.screenshot %>">View</a><% } else { %>N.A<% } %></td>
                                            <td><%= job.completed_at.toString().substring(0,job.completed_at.toString().length-14) %></td>
                                        </tr>
                                    <% } %>
                                    <% }); %>
                                    </tbody>
                                    </table>
                                    <% } %>
			
			</div>
		
<% include ../partials/footer %>
